body { background-color: rgba(238, 238, 238, 1); padding-bottom: 3em;}

.VictoryContainer
{
	background-color: rgba(255, 255, 255, 1);
	padding: 2em;
}

.btn {
    border: 1;
    border-radius: 0;
}

fieldset
{
	padding: .75em 1.75em 0em 1.75em;
	background-color: rgba(255, 255, 255, 1);
	border-top: 1px solid;
	border-color: rgba(66, 146, 183, 1);
}

legend
{
	padding-left: .5em;
	background-color: rgba(83, 160, 192, 1);
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.25em;
}

input[type="number"] {
   width:4em;
}

form * {font-family: 'Roboto Condensed', sans-serif; font-size: 13px;}
form label {font-family: 'Roboto Condensed', sans-serif; font-size: 16px;}

#seed, #distType {width: 100%;}
