// Library tooltip styles
.__react_component_tooltip {
    z-index: 100000;
}

// Custom tooltip styles
%button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.tooltip-trigger {
    @extend %button-reset;
    margin-left: 0.25em;
    &:focus {
        outline: none;
        color: #0D993F;
    }
}

.tooltip-box {
    position: absolute;
    display: inline-block;
    top: -52px;
    padding: 0.5em;
    margin-bottom: 0px !important;
    margin-right: -100%;
    z-index: 10000;

    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);

    &:before {
        content: "";
        position: absolute;
        right: 100%;
        bottom: -18px;
        left: 0px;
        border-top: 14px solid rgba(0, 0, 0, 0.8);
        border-right: 12px solid transparent;
        border-bottom: 4px solid transparent;
        transform: rotate(0deg);
    }
}
