* { font-family: 'Roboto', sans-serif; }

.katex * {
    font-family: KaTeX_Main;
}

h1.hp-title {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

main h1 {
    color: rgba(66, 146, 183, 1);
    a {
    color: rgba(66, 146, 183, 1);
        &:hover {
            color: rgba(08, 172, 228, 1);
            text-decoration: none;
        }
    }
}

h2.display-5 {color: rgba(31, 103, 153, 1);;}

.stats {color: yellow;}
.beta {color: silver;}

