.clt-least-squares-form {
    .numeric-field {
        margin-left: 1em;
    }
}

.cls-graph-container {
    background-color: #FFFFFF;
    margin-bottom: 1.8em;
    padding-top: 1em;

    h3 {
        font-size: 1.3em;
        margin-left: 1em;
    }

    .VictoryContainer {
        padding-top: 0;
    }
}
