@import "~bootstrap/scss/bootstrap";

* { font-family: 'Roboto ', sans-serif!important; }

.jumbotron
{
	background-color: rgba(41,147,192,1);
	color: white;
	border-radius: 0;
	background-image: url("../images/iStock-832632796.png");
	background-position: center center;
}

.navbar
{
	background-color: rgba(41,147,192,1);
	color: white;
	border-radius: 0;
	margin-bottom: 1em;
	background-image: url("../images/iStock-832632796.png");
	background-position: center center;
}

a.navbar-brand
{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	color: white;
}

.btn-primary
{
	//background-color: rgba(2, 33, 105, 1);
	border: 0;
	border-radius: 0;
}

.btn-primary:hover
{
	//background-color: rgba(108, 172, 228, 1);
	border: 0;
	border-radius: 0;
}

h1
{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

h2 a { color: rgba(2, 33, 105, 1); }

h2 a:hover
{
	color: rgba(08, 172, 228, 1);
	text-decoration: none;
}


fieldset { padding: 1em; 	background-color: rgba(204, 229, 254, 1);
}

legend
{
	padding-left: .5em;
	background-color: rgba(45, 124, 167, 1);
	color: #fff;
}

.shim-top {margin-top: 2em;}
@import 'central-limit-graph';
