.lrm-slider-pit {
    width: 25%;
}

#lrm-slider-pit-last {
    width: 23.75%;
}

.linear-regression-toggle {
    margin-bottom: 1em;
    justify-content: space-between;
    a.btn-outline-primary {
        pointer-events: none;
    }

    button {
        margin-right: 0em;
    }
}

.state-a-container {
    div:first-child {
        div {
            margin-bottom: 2em;
        }
    }
}

#tax-rate-field {
    @extend %valid-focus-reset;
    display: inline;
}

#observation-slider {
    height: 25px !important;
}

// Graph Animation

// This CSS is kind of dense. Somethings to note:
// - The animation consists of toggling between two states:
//   state-a and state-b.
//   State A has the graphs stacked veritically
//   State B has the graphs lined up horizontally
// - the 'enter' and 'exit' classes get applied
//   while those particular elements are being animated.
//   That's why transitions from both states are composed together
//   under a common class name, but only one occurs at a time.

// Set the heights of the containers to match thier computed heights. This
// is to facilitate a smooth animation.
$state-a-height: 883px;
$state-b-height: 491px;

// The elements are double-wrapped in Bootstrap containers
// to facilitate the animate. Hence reset the padding.
.state-a-container, .state-b-container {
    padding-left: 0em;
    padding-right: 0em;
}

.graph-transition-enter {
    // Transition A => B
    &.state-b-container {
        opacity: 0.01;
        position: absolute;
        width: 1110px;
    }

    // Transition B => A
    &.state-a-container {
        opacity: 0.01;
        position: absolute;
        // Because the element has to positioned absolutely
        // during the transition, we have to hack the width
        // so that there isn't a noticible hiccup at the
        // end of the animation.
        width: 1110px;
    }
}

.graph-transition-enter.graph-transition-enter-active {
    // Transition A => B
    &.state-b-container {
        opacity: 1;
        transition: all 1000ms ease-out 2000ms;
    }

    // Transition B => A
    &.state-a-container {
        opacity: 1;
        transition: opacity 1000ms ease-out 2000ms;
    }
}

// Fired at the start of the transition
.graph-transition-exit {
    // Transition A => B
    &.state-a-container {
        height: $state-a-height;
    }

    .state-a-info-container {
        // fade out
        opacity: 0.01;
        transition: opacity 2000ms ease-out;
    }

    .state-a-graph-container {
        // rotate, then fade out
        opacity: 0.01;
        transform-origin: center 222px;
        transform: rotate(90deg);
        transition: transform 1500ms ease-out, opacity 500ms ease-in 2500ms;

        .graph-A-container.tax-rate-graph {
            transform: rotate3d(0, 1, 0, 180deg);
            transition: transform 1500ms ease-out;
        }

        .graph-A-container.frequency-graph {
            transform: rotate(180deg);
            transition: transform 1500ms ease-in;
        }
    }

    // Transition B => A
    &.state-b-container {
        height: $state-b-height;

        .state-b-graph-container {
            .state-b-info-container {
                opacity: 0.01;
                transition: opacity 25ms ease-out;
            }

            opacity: 0.01;
            transform-origin: 79% 222px;
            transform: rotate(-90deg);
            transition: transform 1500ms ease-out, opacity 500ms ease-in 2500ms;
        }

        .graph-B-container.frequency-graph {
            transform: rotate(180deg);
            transition: transform 1500ms ease-in;
        }

        .graph-B-container.tax-rate-graph {
            transform: rotate3d(1, 0, 0, 180deg);
            transition: transform 1500ms ease-out;
        }
    }
}

// Applied one tick after .graph-transition-exit is applied
.graph-transition-exit.graph-transition-exit-active {
    // Transition A => B
    &.state-a-container {
        height: $state-b-height; 
        transition: height 3000ms ease;
    }

    &.state-b-container {
        height: $state-a-height;
        transition: height 1000ms ease-out;
    }
}
